/* Team */
.team-section {

    font-weight: 900;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: inherit;
    background-color: #F5F4FA;
}

.team-section-header {


    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;

    color: var(--primary-text-color);
}

.team-list {
    margin-top: 50px;
    display: flex;

}

.team-list-elements {
    width: 270px;
    background: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    &:not(:first-child) {
            margin-left: 30px;
    }
}

.team-list-border {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 32px;
    padding-right: 32px;
}



.team-header-text {
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: inherit;
}

.team-text {
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--contact-links-color);
}

.team-links-list {
    display: flex;
    justify-content: space-between;
}

.team-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: var(--hero-text-color);
    transition: background-color 500ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover .social-team-svg,
    &:focus .social-team-svg {
            fill: var(--hero-text-color);
    }
    &:hover,
    &:focus {
            background-color: var(--filler-colour);
    
    }

}

.social-team-svg {
    width: 22px;
    height: 22px;
    fill: var(--clients-colour);
    transition: fill 500ms cubic-bezier(0.4, 0, 0.2, 1);
}



